/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.intro{
	  -fx-background-image: url("introback.png");
    
   
    -fx-background-size: auto;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.temperatura{
	  -fx-background-image: url("tempback.png");
  
 
    -fx-background-size: auto;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.moneda{
	  -fx-background-image: url("exchangeback.png");
  
    -fx-background-size: auto;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

	
.button{
-fx-background-color: rgb(2,0,36);
-fx-background-color: linear-gradient(to right, rgb(128, 128, 128), rgb(163, 152, 224));
-fx-transition: 200s;
background-color: rgb(2,0,36);
background-color: linear-gradient(to right, rgb(128, 128, 128), rgb(192, 192, 192));
}

.button:hover{
-fx-background-color: rgb(2,0,36);
-fx-background-color: linear-gradient(to right, rgb(128, 128, 128), rgb(133, 80, 220));
-fx-transition: 200s;
	
}


